body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 100px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    height: 300px;
}

